.container {
  .navbar {
    width: 90%;
    background: url('./6105f4c4e28a6.jpg');
    padding: 2rem;
    margin: 3rem;
    text-align: center;
    height: 50rem;
    
  }
  .section {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    .card {
      background-color: yellow;
      padding: 2rem;
    }

    .section-body-3 {
      background-color: red;
      padding: 2rem;
    }
    .section-body-1 {
      background-color: blue;
      padding: 2rem;
    }
  }
  .body {
      width: 100%;
      margin-top: 3rem;
      display: flex;
      justify-content: space-around;
      flex-direction: row;

      .anak-body{
          background-color: green;
          width: 25rem;
          height: 10rem;
          text-align: center;

          .anak-2{
            .anak{
                background-color: blue;
                display: flex;
                justify-content: center;
                height: 40rem;
            }

          }       
      }

  }
}
